.xs-only {
  display: none;
}
@media screen and (max-width: 350px) {
  .xs-only {
    display: block;
  }
  .xs-none {
    display: none;
  }
}

.overview-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
}
.overview-title-sub {
  display: block;
  font-size: 1.5rem;
}
.overview-grid li img {
  border: 1px solid var(--color-border);
}
@media screen and (max-width: 640px) {
  .overview-title {
    font-size: 1.25rem;
  }
  .overview-title-sub {
    font-size: 0.875rem;
  }
}

.section-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.4;
  text-align: center;
}
.section-title-sub {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 4px;
  color: var(--color-black);
}
.title-support {
  color: var(--color-support-dark);
}
.title-language {
  color: var(--color-language-dark);
}
.section-title-en-bottom {
  font-size: 1.5rem;
  display: block;
}
@media screen and (max-width: 640px) {
  .section-title {
    font-size: 1.75rem;
  }
  .section-title-sub {
    font-size: 1rem;
  }
}

.section-text {
  text-align: center;
}
.section-text-language {
  font-weight: 400;
  color: var(--color-language-dark);
}
@media screen and (max-width: 640px) {
  .section-text {
    text-align: left;
  }
}

.support-button-wrap {
  gap: 24px;
}
.support-button {
  height: 61px;
  font-size: 1.25rem;
  text-align: center;
}
.support-button-2line {
  font-size: 1.125rem;
  line-height: 1.3;
  flex-direction: column;
}
.support-button-text-small {
  font-size: 0.75rem;
  margin-bottom: 2px;
}
.language-button {
  height: 61px;
  font-size: 1.5rem;
}
.language-button-2line {
  line-height: 1.1;
  gap: 2px;
  flex-direction: column;
}
.language-button-text-small {
  font-size: 1rem;
}
.language-button-wrap {
  gap: 16px;
  justify-content: flex-start;
}
@media screen and (max-width: 640px) {
  .support-button {
    font-size: 1rem;
    height: 58px;
  }
  .language-button {
    height: 46px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .language-button-text-small {
    font-size: 1.25rem;
  }
  .language-button-wrap {
    justify-content: center;
  }
}

.app-download-button {
  width: 204px;
  height: 62px;
}

.explain-image {
  width: 100%;
  margin: 0 auto;
}
.explain-image-earphoneguide,
.explain-image-gmarc {
  max-width: 450px;
}
.explain-image-online-contents {
  max-width: 600px;
}
.explain-image-onlineshop {
  border: 1px solid var(--color-border);
}
@media screen and (max-width: 640px) {
  .explain-image-earphoneguide img,
  .explain-image-gmarc img {
    height: 100%;
    object-fit: contain;
  }
  .explain-image-earphoneguide {
    height: 240px;
  }
  .explain-image-gmarc {
    height: 198px;
  }
  .explain-image-onlineshop {
    height: 255px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .explain-image-onlineshop img {
    object-fit: cover;
    height: 60%;
  }
}

.explain-recommend-list {
  row-gap: 40px;
}
.explain-recommend-item {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.explain-recommend-item:nth-child(1) {
  background-color: #85B1DF;
}
.explain-recommend-item:nth-child(2) {
  background-color: #93C8FF;
}
.explain-recommend-item:nth-child(3) {
  background-color: #CAE4FF;
}
.explain-recommend-item-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.75rem;
  color: var(--color-explain-dark);
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
}
.explain-recommend-item-title-sub {
  font-size: 1.25rem;
  color: var(--color-black);
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
  line-height: 1.8;
}
@media screen and (max-width: 1144px) {
  .explain-recommend-list {
    gap: 24px;
  }
}
@media screen and (max-width: 640px) {
  .explain-recommend-list {
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  .explain-recommend-item-title {
    font-size: 1.5rem;
  }
  .explain-recommend-item-title-sub {
    font-size: 1rem;
  }
}
@media screen and (min-width: 641px) {
  .explain-recommend-item .button-with-arrow {
    font-size: 1.5rem;
  }
  .explain-recommend-item .button-with-arrow::after {
    font-size: 1.75rem;
  }
}

.explain-teaser {
  justify-content: space-between;
}
.explain-teaser-button {
  max-width: none;
  height: 61px;
  font-size: 1.25rem;
  /*color: var(--color-blue);*/
  /*border-color: var(--color-blue);*/
}
@media screen and (max-width: 350px) {
  .explain-teaser-button-group {
    text-align: center;
    line-height: 1.2;
  }
}


.explain-online-contents-list {
  display: grid;
  gap: 24px;
}
.explain-online-contents-item {
  background-color: #DAEBFC;
  padding: 24px;
  min-height: 119px;
  justify-content: center;
}
.explain-online-contents-item .title {
  text-align: left;
}
@media screen and (max-width: 640px) {
  .explain-online-contents-item {
    height: auto;
  }
}

.explain-button-large {
  max-width: 400px;
}
@media screen and (max-width: 374px) {
  .explain-button-large {
    padding-right: 40px;
    padding-left: 16px;
  }
}
@media screen and (max-width: 350px) {
  .explain-button-large {
    text-align: center;
    line-height: 1.2;
    height: 61px;
  }
}

.explain-onlineshop .section-title {
  text-align: left;
  color: var(--color-blue);
  margin-bottom: 16px;
}
.explain-onlineshop .section-title-sub {
  font-size: 1.25rem;
  line-height: 1.8;
  color: var(--color-black);
  margin-bottom: 0;
  margin-top: 8px;
}
@media screen and (max-width: 640px) {
  .explain-onlineshop .section-title {
    font-size: 1.5rem;
  }
}

.specialist-overview-title {
  font-size: 2.5rem;
}
.specialist-overview-title-sub {
  display: block;
  font-size: 1.5rem;
}
.specialist-overview-text {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .specialist-overview-title {
    font-size: 2rem;
  }
  .specialist-overview-title-sub {
    font-size: 1.125rem;
  }
  .specialist-overview-text {
    font-size: 0.875rem;
    text-align: left;
  }
}

.specialist-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.specialist-item {
  border: 1px solid var(--color-border);
  padding: 40px;
}
.specialist-item-head {
  display: flex;
  align-items: center;
  gap: 24px;
  min-height: 160px;
}
.specialist-item-img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  flex-shrink: 0;
}
.specialist-item-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
}
.specialist-item-title span {
  display: block;
  color: var(--color-black);
  font-size: 1rem;
}
.specialist-item-contents-title {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 1.25rem;
}
.specialist-item-contents-text {
  font-size: 1rem;
}
.specialist-item-button-wrap {
  flex: 1;
  align-items: flex-end;
}
.specialist-item-button {
  font-size: 1.25rem;
  max-width: 288px;
  height: 46px;
}
@media screen and (max-width: 1144px) {
  .specialist-list {
    gap: 16px;
  }
  .specialist-item {
    padding: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .specialist-item-head {
    min-height: 106px;
  }
  .specialist-item-img {
    width: 80px;
    height: 106px;
  }
  .specialist-item-title {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  .specialist-list {
    grid-template-columns: 1fr;
  }
  .specialist-item-title span {
    font-size: 0.75rem;
  }
  .specialist-item-contents-title {
    font-size: 1rem;
  }
  .specialist-item-contents-text {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 374px) {
  .specialist-item-button {
    font-size: 1rem;
  }
}

.specialist-tab-list {
  display: inline-flex;
  margin: 0 auto;
  gap: 24px;
}
/* .specialist-tab-list li:last-child {
  grid-column: span 2;
} */

.specialist-tab-button {
  background-color: #DAEBFC;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--color-explain-dark);
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.specialist-tab-button:hover {
  background-color: var(--color-explain-light);
}
.specialist-tab-button.active {
  background-color: var(--color-explain-dark);;
  color: var(--color-white);
  font-weight: 900;
}
.specialist-tab-button:disabled {
  background-color: #D9D9D9;
  color: #888;
  cursor: not-allowed;
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .specialist-tab-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75.3px, 1fr));
    gap: 16px;
    justify-content: flex-start;
    margin: 0;
  }
  .specialist-tab-button {
    width: 100%;
    height: 100%;
    /* font-size: 0.875rem; */
  }
}
@media screen and (max-width: 767px) {
  .specialist-tab-list {
    gap: 16px;
    justify-content: flex-start;
  }
  .specialist-tab-button {
    padding: 16px;
    font-size: 0.875rem;
  }
}