<footer class="footer">
  <div class="footer-body">
    <a href="https://www.eg-gm.jp/" class="logo">
      <img src="/image/logo.svg" alt="イヤホンガイド">
    </a>
    <ul class="footer-link-list">
      <li>
        <a href="/explain/" class="footer-link-large">伝統芸能を観る</a>
      </li>
      <li>
        <a href="/support/" class="footer-link-large">バリアフリー</a>
        <ul class="footer-link-list-small">
          <li><a href="/support/" class="footer-link-small">視覚・聴覚補助付きで舞台を観る</a></li>
          <li><a href="/barrierfree/" class="footer-link-small">バリアフリー対応事業</a></li>
        </ul>
      </li>
      <li class="footer-link-large">
        <a href="/language/">外国語対応</a>
      </li>
      <li class="footer-link-large">
        <a href="/organizer/">主催者様</a>
        <ul class="footer-link-list-small">
          <li class="footer-link-small"><a href="/organizer/">公演サポート</a></li>
          <li class="footer-link-small"><a href="/organizer/special_support/">インバウンド対応／<br>バリアフリー対応</a></li>
          <li class="footer-link-small"><a href="/organizer/device/">ご提供可能な機材</a></li>
          <li class="footer-link-small"><a href="/organizer/other/">公演以外でのサービス</a></li>
        </ul>
      </li>
      <li class="footer-link-large">
        <a href="https://earphoneguide.eg-gm.jp/n/n618292f6ec94" target="_blank" rel="noopener">団体予約</a>
      </li>
      <li class="footer-link-large">
        <a href="https://earphoneguide.stores.jp/" target="_blank" rel="noopener">耳寄屋</a>
      </li>
      <li class="footer-link-large">
        <a href="https://earphoneguide.stores.jp/" target="_blank" rel="noopener">解説者紹介</a>
      </li>
      <li class="footer-link-large">
          <a href="/company/" class="footer-link-large">会社概要</a>
          <ul class="footer-link-list-small">
            <li class="footer-link-small"><a href="/company/company_history/">会社沿革</a></li>
            <li class="footer-link-small"><a href="/company/guide_history/">イヤホンガイドの歴史</a></li>
            <li class="footer-link-small"><a href="/company/recruit/">採用情報</a></li>
          </ul>
        </li>
      <li class="footer-link-large">
        <a href="/news/">新着ニュース</a>
      </li>
      <li class="footer-link-large">
         <a href="/press/">プレスリリース</a>
      </li>
      <li class="footer-link-large">
        <a href="/contact/">お問い合わせ</a>
      </li>
    </ul>
    <a href="#" class="page-top">
      <span class="material-symbols-outlined page-top-icon">keyboard_arrow_up</span>
    </a>
  </div>
  <p class="copyright">Copyright© Earphone Guide Co., Ltd. All Rights Reserved.</p>
</footer>