<header class="header">
  <a href="https://www.eg-gm.jp/" class="logo">
    <img src="/image/logo.svg" alt="イヤホンガイド">
  </a>
  <div class="header-sp-only">
    <a href="/organizer/" class="header-link-organizer">
      <span class="material-symbols-outlined header-link-organizer-icon">apartment</span>
      <span class="header-link-organizer-text">主催者様</span>
    </a>
    <button type="button" class="button-ghost header-menu-icon js-toggle-header-menu">
      <span class="material-symbols-outlined">menu</span>
    </button>
  </div>
  <ul class="header-link-list js-handle-current-page">
    <li><a href="/explain/" class="link-explain">伝統芸能を観る</a></li>
    <li><a href="/support/" class="link-support">バリアフリー</a></li>
    <li><a href="/language/" class="link-language">外国語対応</a></li>
    <li><a href="/organizer/" class="link-organizer">主催者様</a></li>
    <li><a href="https://earphoneguide.eg-gm.jp/n/n618292f6ec94" target="_blank" rel="noopener">団体予約</a></li>
    <li><a href="https://earphoneguide.stores.jp/" target="_blank" rel="noopener">耳寄屋</a></li>
    <li><a href="https://earphoneguide.stores.jp/" target="_blank" rel="noopener">解説者紹介</a></li>
    <li class="header-contact-button-wrap">
      <a href="/contact/" class="header-contact-button">
        <span class="material-symbols-outlined header-contact-button-icon">mail</span>
        お問い合わせ
      </a>
    </li>
  </ul>
</header>
<div id="headerMenuSp" class="header-menu-sp">
  <ul class="header-menu-sp-list-large">
    <li class="header-menu-sp-item-large">
      <a href="/explain/">伝統芸能をみる</a>
    </li>
    <li class="header-menu-sp-item-large">
      <a href="/support/">バリアフリー</a>
      <ul class="header-menu-sp-list-small">
        <li class="header-menu-sp-item-small"><a href="/support/">視覚・聴覚補助付きで舞台を観る</a></li>
        <li class="header-menu-sp-item-small"><a href="/barrierfree/">バリアフリー対応事業</a></li>
      </ul>
    </li>
    <li class="header-menu-sp-item-large">
      <a href="/language/">外国語対応</a>
    </li>
    <li class="header-menu-sp-item-large">
      <a href="/organizer/">主催者様</a>
      <ul class="header-menu-sp-list-small">
        <li class="header-menu-sp-item-small"><a href="/organizer/">公演サポート</a></li>
        <li class="header-menu-sp-item-small"><a href="/organizer/special_support/">インバウンド対応／バリアフリー対応</a></li>
        <li class="header-menu-sp-item-small"><a href="/organizer/device/">ご提供可能な機材</a></li>
        <li class="header-menu-sp-item-small"><a href="/organizer/other/">公演以外でのサービス</a></li>
      </ul>
    </li>
    <li class="header-menu-sp-item-large">
      <a href="https://earphoneguide.eg-gm.jp/n/n618292f6ec94" target="_blank" rel="noopener">団体予約</a>
    </li>
    <li class="header-menu-sp-item-large">
      <a href="https://earphoneguide.stores.jp/" target="_blank" rel="noopener">耳寄屋</a>
    </li>
    <li class="header-menu-sp-item-large">
      <a href="https://earphoneguide.stores.jp/" target="_blank" rel="noopener">解説者紹介</a>
    </li>
    <li class="header-menu-sp-item-large">
        <a href="/company/" class="footer-link-large">会社概要</a>
        <ul class="header-menu-sp-list-small">
          <li class="header-menu-sp-item-small"><a href="/company/company_history/">会社沿革</a></li>
          <li class="header-menu-sp-item-small"><a href="/company/guide_history/">イヤホンガイドの歴史</a></li>
          <li class="header-menu-sp-item-small"><a href="/company/recruit/">採用情報</a></li>
        </ul>
      </li>
    <li class="header-menu-sp-item-large">
      <a href="/news/">新着ニュース</a>
    </li>
    <li class="header-menu-sp-item-large">
       <a href="/press/">プレスリリース</a>
    </li>
    <li class="header-menu-sp-item-large">
      <a href="/contact/">お問い合わせ</a>
    </li>
  </ul>
</div> 